/*
================================
R!
================================
*/

@font-face {
    font-family: 'Gotham Condensed';
    src: url('../fonts/GothamCondensed-Bold.eot');
    src: url('../fonts/GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/GothamCondensed-Bold.woff') format('woff'),
    url('../fonts/GothamCondensed-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


h1 {
    font-size: calc(2rem + 7vw);
    line-height: .8;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    letter-spacing: -10px;
    margin: 0px;
    text-transform: uppercase;
}
h2 {
    font-size: calc(2.6rem + 3.425vw);
    line-height: .8;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    letter-spacing: -8px;
    margin: 0px;
    text-transform: uppercase;
}
h3 {
    font-size: calc(3rem + 2vw);
    line-height: .8;
    font-weight: 700;
    font-family: 'Product Sans';
    margin: 0px;
}
.section {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-weight: 400;
    color:#464646;
}
.section.title {
    padding-bottom: 40px;
}
.section.sectitle {
    text-align: center;
    padding: 50px 0 0 0;
}
.section.title .offset-by-five.columns {
    margin-left: 47.333333%;
    padding-top: 50px;
}
.section.bio {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}
.section.bio ul {
    list-style: none; 
    padding: 0px;
    margin: 0px;
}
.section.bio ul li {
    list-style: none;
    padding: 0 0 10px 0; 
    margin: 0px;
}
.section.bio ul.nav li {
    list-style: none;
    padding: 0 0 5px 0; 
    text-align: left;
}
.section.bio .nav a {
    color: #464646;
    /* color: #b4838d; */
    /* color: #234e25; */
    /* color: #6d6875; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* font-family: 'PT Sans', sans-serif; */
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    font-weight: 900;
    letter-spacing: -1.25px;
    text-decoration: none;
}
.section.bio .nav a:hover {
    color: #6d6875;
}
.section.bio .nav li a::after {
    content: url(../images/arrow-1.svg);
    /* background-color: white;
    color:red; */
    width: 20px;
    height: 10px;
    display: inline-block;
    margin: 0px 0px 0px 10px;
}
.section.footer {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 10px;
    padding: 50px 0px;
    text-align: center;
}





.center {
    text-align: center;
}
.btn {
    display: inline-block;
    margin: 0;
    padding: 30px;


    /* border: 2px solid #464646;
    background-color: #464646; */


    background-color:#234e25;
    border: 2px solid #234e25;

    /* background-color:#b4838d;
    border: 2px solid #b4838d; */


    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    /* font-size: 22px;
    line-height: 26px; */



    color: #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}
.btn:hover,
.btn:focus {
    background-color:#6d6875;
    border: 2px solid #6d6875;
    color: #fff;
}





.copyblock {
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid #d4d4d4;
}
.year {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 5px;
    /* color: #b4838d; */
}
.project {
    font-size: 12.5px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.project span {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 5px;
    text-transform: lowercase;
    color: #969897;
}




.section {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:#464646;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 25px;
}
.section .pad-bot {
    padding-bottom: 50px;
}
.section .aligncenter {
    text-align: center;
}
.dark-copy {
    color: #000;
}
.light-copy {
    color: #fff;
}
.section .copyblock .eyebrow {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 10px;
    letter-spacing: 0.071em;
    text-transform: uppercase;
}
.section .copyblock .title h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 10px;
}
.section .copyblock .copy {
    font-size: 18px;
    line-height: 24px;
    padding: 20px 0px 30px 0px;
}
.section .copyblock .fine {
    font-size: 12px;
    line-height: 18px;
    padding: 20px 0px;
}
.section .sectitle {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    padding: 40px 0px;
}
.section .sectitle .eyebrow {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 10px;
    letter-spacing: 0.071em;
    text-transform: uppercase;
}
/* .section .sectitle h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    padding-top: 25px;
    color: #000;
} */
.section .sectitle h2 sup {
    top: -1.5em;
    font-size: 30%;
}
@media (min-width: 600px) and (max-width: 899px) {
    /* ==== TABLET PORTRAIT & MOBILE LANDSCAPE ==== */
    .section .sectitle {
        text-align: center;
        padding: 40px 0px;
    }
    .section .sectitle h2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        padding-top: 25px;
        color: #000;
    }
    .section .sectitle h2 sup {
        top: -1.5em;
        font-size: 30%;
    }
}
.section .cta {
    margin: 0px;
    padding: 50px 0px;
    line-height: 0px;
}
.section a:hover {
    text-decoration: none;
}
.section img {
    max-width: 100%
}
.section ul {
    padding: 0px;
}
.section ul li, ol li {
    margin-bottom: 0px;
}
.section ul li {
    margin-left: 30px;
    list-style-type: disc;
    text-align: left;
    padding-bottom: 15px;
} 
.section .italic {
    font-style: italic;
}
.section .bold,
.bold {
    /* font-family: 'LG Smart Bold'; */
}
.row-skel:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 2%;
}
#sticky {
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
#hidden-lightbox .copy img {
    max-width: 100%;
}
.fancybox-slide--iframe .fancybox-content, 
.fancybox-iframe {
	background: transparent;
}
.breadcrumb {
    color: #fff;
    display: none!important;
}
.container-skel .row { 
    margin: 0px; /* override bootstrap */
} 
ul.foot-disclaim li { 
    padding-bottom: 10px;
}
.zoom {
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.zoom:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.03);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.03);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.03);
    transition: all 200ms ease-in;
    transform: scale(1.03);
}
div.cta a.newbtn:not(:first-of-type) {
    margin-left: 1rem !important;
}
a.newbtn {
    color: #fff;
    text-decoration: none;
}
.newbtn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 7px 14px !important;
    /* border-radius: 20px; */
    background-color: #464646;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 24px;
    border: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    outline: none;
}
.newbtn::before {
    content: "";
    position: absolute;
    /* border-radius: 30px; */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid transparent;
    background-color: #234e25;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
.newbtn:hover {
    color: #fff;
}
.newbtn:hover::before {
    background-color: #6d6875;
    left: 100%;
}
.newbtn:active {
    background-color: white;
    color: black;
    border: 2px solid black;
}
.newbtn.inverse {
    display: inline-block;
    margin: 0;
    padding: 7px 14px !important;
    border-radius: 100vw;
    background-color: #fff;
    color: #A60032;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 24px;
    border: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: 2px solid #fff;
}
.newbtn.inverse::before {
    content: "";
    position: absolute;
    border-radius: 30px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid transparent;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
.newbtn.inverse:hover {
    border: 2px solid #fff;
    color: #A60032;
}
.newbtn.inverse:hover::before {
    background-color: #fff;
    left: 100%;
}
.newbtn.inverse:active {
    background-color: white;
    color: black;
    border: 2px solid black;
}
.newbtn-outline {
    display: inline-block;
    margin: 0;
    padding: 7px 14px !important;
    border-radius: 100vw;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 24px;
    border: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    outline: none;
    color: #6b6b6d;
    border: 1px solid #6b6b6d;
    background-color: transparent;
}
.newbtn-outline::before {
    content: "";
    position: absolute;
    border-radius: 30px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
.newbtn-outline:hover {
    background-color: #A60032;
    border: 1px solid #A60032;
    color: #fff;
}
.newbtn-outline:hover::before {
    background-color: #A60032;
    left: 100%;
    border: 1px solid #A60032;
}
@media (min-width: 600px) and (max-width: 899px) {
    /* ==== TABLET PORTRAIT & MOBILE LANDSCAPE ==== */
    div.cta a.newbtn:not(:first-of-type) {
        margin-left: 0rem !important;
    }
    .newbtn,
    .newbtn.inverse,
    .newbtn-outline {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 599px) {
    /* ==== MOBILE PORTRAIT ==== */
    .newbtn,
    .newbtn.inverse,
    .newbtn-outline {
        /* width: 100%; */
        text-align: center;
    }
    div.cta a.newbtn:not(:first-of-type) {
        margin-left: 0rem !important;
    }
}

.for-mobile {
    display: none !important;
}
@media (min-width: 600px) and (max-width: 899px) {
    /* ==== TABLET PORTRAIT & MOBILE LANDSCAPE ==== */
    .for-mobile {
        display: none!important;
    }
    .for-desktop {
        display: inherit!important;
    }
}
@media (max-width: 599px) {
    /* ==== MOBILE PORTRAIT ==== */
    .for-mobile {
        display: inherit!important;
    }
    .for-desktop {
        display: none!important;
    }
}




/*
================================
VIDEO
================================
*/
video {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}
.section .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.section .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section .inline-video {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%; /* 9 / 16 * 100 */
}
.section .inline-video > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}
.video__inline video {
    /* border-radius: 40px; */
}
.video__inline {
    display: inline-block;
    position: relative;
}
.video__play-button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 40px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    -webkit-appearance: none;
    z-index: 2;
    transition: all 200ms ease-in-out;
}
.video__play-button-icon {
    width: 15%;
    transition: all 200ms ease-in-out;
}
.video__play-button-icon--play polygon {
    transform-origin: 50% 50%;
    transition: all 200ms ease-in-out;
}
.video__play-button-icon--play:hover polygon {
    transform: scale(1.5);
}
.video__play-button[data-button-state=pause] .video__play-button-icon--pause {
    display: none;
}
.video__play-button[data-button-state=play] .video__play-button-icon--play {
    display: none;
}
.video__play-button[data-button-state=play] .video__play-button-icon {
    opacity: 0;
}
.video__play-button[data-button-state=play]:hover .video__play-button-icon {
    /* opacity: 1; */
    opacity: 0;
}
.video__play-button[data-button-state=play] {
    background-color: rgba(0, 0, 0, 0);
}
.video__play-button[data-button-state=play]:hover {
    /* background-color: rgba(0, 0, 0, 0.4); */
}
button.video__play-button {
    margin: 0; 
    padding: 0; 
    background: none; 
    border: none; 
    border-radius: 0; 
    outline: none; -webkit-appearance: none; -moz-appearance: none; 
    appearance: none; 
    }
button.video__play-button:focus, button:hover { 
    outline: none !important; 
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important; 
}
.video__fullscreen-button {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 0;
    background: transparent;
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
    z-index: 3;
    transition: all 200ms ease-in-out;
}
.video__fullscreen-icon {
    padding: 10px;
    display: block;
    vertical-align: top;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;
}
.video__inline[data-state=pause] .video__fullscreen-icon,
.video__inline[data-state=play]:hover .video__fullscreen-icon {
    opacity: 1;
    visibility: visible;
}
.video__fullscreen-icon polygon {
    fill: currentColor;
}


/*
================================
HERO 
================================
*/
.section.hero .hero-card {
    position: relative;
}
.section.hero .hero-card .copyblock .eyebrow {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 10px;
    letter-spacing: 0.071em;
    text-transform: uppercase;
}
.section.hero .hero-card .copyblock .title h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
}
.section.hero .hero-card .copyblock .copy {
    font-size: 20px;
    line-height: 26px;
    padding: 20px 0px 30px 0px;
}
.section.hero .hero-card .copyblock .copy sup {
    top: -1em;
    font-size: 50%;
}
.section.hero .hero-card .copyblock .title h2 sup {
    top: -1.5em;
    font-size: 30%;
}
.section.hero .hero-card-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
    display: flex;
    align-items: center;
    position: absolute;
}
@media (min-width: 900px) {
    .section.hero .hero-card-overlay .copyblock.left {
        max-width: 520px;
        width: 40%;
        position: relative;
        left: 25%;
        transform: translateX(-50%);
    }
    .section.hero .hero-card-overlay .copyblock.center {
        max-width: 520px;
        width: 40%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .section.hero .hero-card-overlay .copyblock.right {
        max-width: 520px;
        width: 40%;
        position: relative;
        left: 75%;
        transform: translateX(-50%);
    }
}
@media (max-width: 899px) {
    .section.hero .hero-card-overlay {
      color: #000;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      top: 0;
      left: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      padding: 4rem;
    }
}
@media (max-width: 599px) {
    .section.hero .container-skel {
        padding: 0px;
    }
    .section.hero .hero-card-overlay .copy {
        min-height: 250px;
    }
    .section.hero .hero-card-overlay {
        padding: 2rem 10% 4rem;
    }
}


/*
================================
OVERLAY CARDS
================================
*/
.overlaycard-wrap {
    position: relative;
}
.overlaycard-wrap.dark-copy {
    color: #000;
}
.overlaycard-wrap .copyblock .eyebrow {
    padding-bottom: 10px;
}
.overlaycard-wrap .copyblock .title h2 {
    /* font-family: 'LG Smart Regular';
    font-weight: 400; */
}
.overlaycard-wrap .copyblock .copy {
    padding: 10px 0px 20px 0px;
    min-height: 100px;
}
.overlaycard-wrap .copyblock .copy sup {
    top: -1em;
    font-size: 50%;
}
.overlaycard-wrap .copyblock .title h2 sup {
    top: -1.5em;
    font-size: 30%;
}
.overlaycard-image {
    display: block;
    width: 100%;
    height: auto;
}
.overlaycard-left {
    top: 50%;
    left: 29%;
    width: 620px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}
.overlaycard-right {
    top: 50%;
    left: 72%;
    width: 660px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}
.overlaycard-center {
    top: 50%;
    left: 50%;
    width: 600px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
@media (min-width: 900px) and (max-width: 1199px) {
    /* ==== TABLET LANDSCAPE ==== */
    .overlaycard-left {
        top: 50%;
        left: 26%;
        width: 450px;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: left;
    }
    .overlaycard-right {
        top: 50%;
        left: 72%;
        width: 480px;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: left;
    }
    .overlaycard-center {
        top: 50%;
        left: 50%;
        width: 600px;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
@media (min-width: 600px) and (max-width: 899px) {
    /* ==== TABLET PORTRAIT & MOBILE LANDSCAPE ==== */
    .overlaycard-left {
        top: 54%;
        left: 27%;
        width: 350px;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: left;
    }
    .overlaycard-right {
        top: 53%;
        left: 72%;
        width: 370px;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: left;
    }
    .overlaycard-center {
        top: 65%;
        left: 50%;
        width: 600px;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
@media (max-width: 599px) {
    /* ==== MOBILE PORTRAIT ==== */
    .overlaycard-left,
    .overlaycard-right,
    .overlaycard-center {
        top: 37%;
        left: 50%;
        width: 90%;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}




/*
================================================================================================================================================================================================================================================================
PACKAGE AREA
================================================================================================================================================================================================================================================================
*/

/* section subhero */
.section.subhero {
    padding: 75px 0px;
}
.section.subhero .copyblock {
    text-align: center;
    font-size: 24px;
    line-height: 27px;
}

/* section signup */
.section.signup .container-skel {
    background-color: #F9F5F1;
    padding: 75px 0px;
}

/* section products */
.section.products .container-skel {
    background-color: #f9f7f4;
    padding-bottom: 50px;
    border-radius: 50px;
}

/*
================================================================
TABLET LANDSCAPE 
================================================================
*/
@media (min-width: 900px) and (max-width: 1199px) {
    /* ================================================================ SECTIONNAME TABLET LANDSCAPE ================================================================ */
   
    
}

/*
================================================================
MOBILE LANDSCAPE & TABLET PORTRAIT
================================================================
*/
@media (min-width: 600px) and (max-width: 899px) { 
    /* ================================================================ SECTIONNAME MOBILE LANDSCAPE & TABLET PORTRAIT  ============================================= */
    
   
}

/*
================================================================
MOBILE PORTRAIT 
================================================================
*/
@media (max-width: 599px) {
    /* ================================================================ SECTIONNAME MOBILE PORTRAIT ================================================================ */
    h1 {
        font-size: calc(1rem + 8vw);
        line-height: .8;
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
        /* font-family: 'Roboto Condensed', sans-serif; */
        letter-spacing: -3px;
        margin: 0px;
        text-transform: uppercase;
    }
    h2 {
        font-size: calc(2rem + 2vw);
        line-height: .8;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: -1px;
        margin: 0px;
        text-transform: uppercase;
    }
    .section.title .offset-by-five.columns {
        margin-left:inherit;
        padding-top: 50px;
    }
    /* .four.columns {
        width: 45%;
        margin-left: 4%;
    } */

    .breakdown {
        padding-bottom: 50px;
    }
}


img.logo {
    width: 20%;
}